<?xml version="1.0"?>
<launch>
  <arg name="quad_number" default="1" />
  <arg name="prior" default="0" />
  <node name="$(anon dynamical_model)" pkg="multi_crazyflie_simulator" type="CrazyFlie_dynamical_model.py" output="screen">
    <param name="topic" value="/crazyflie_$(arg quad_number)" />
    <param name="agent_number" value="$(arg quad_number)" />
  </node>
  <node name="$(anon swarm_control_pos)" pkg="multi_crazyflie_simulator" type="swarm_control_pos.py" output="screen">
    <param name="topic" value="/crazyflie_$(arg quad_number)" />
    <param name="agent_number" value="$(arg quad_number)" />
    <param name="priority" value="$(arg prior)" />
  </node>
</launch>